@font-face {
    font-family: Torus Regular;
    src: url("Torus\ Regular.otf") format("opentype");
}

/* Colors 
#E2BFD9 Light Purple
#F7EFE5 Brownish
#C8A1E0 Slightly darker and more saturated purple
#674188 Dark Purple

Self-made colors
#E2BFB9 Strawberry Youghurt 
*/

body {
    text-align: center;
    font-family: Torus Regular;
    background-color: #E2BFB9;
}

.buttons {
    display: inline-flex;
}

.button {
    background-color: #C8A1E0;
    width: max-content;
    padding-block: 1px;
    padding-inline: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-inline: 1vw;
}

.button:hover {
    background-color: #a486b6;
}